<h1 class="p-5">My tasks</h1>
<ul class="p-5">
  <% @tasks.each do |task| %>
    <%# link_to ANCHOR_TEXT, ANCHOR_URL %>
    <li><input type="checkbox"><%= link_to task.title, task_path(task.id) %></li>
  <% end %>
</ul>
